body {
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto
}

aside {
    flex: 1;
    overflow-y: auto;
}

article {
    flex:2;
    overflow-y: auto;
    border-radius: 20px;
}

article h1, h2, h3, h4, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

article p{
    color:rgb(0, 0, 2);
    background-color: rgb(243, 245, 245);
    border-radius: 10px; 
    padding: 20px;

}



